@font-face {
  font-family: 'macondo';
  src: url(MacondoSwashCaps-Regular.ttf);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: macondo;
}

body {
  height: 100vh;
  display: flex;
  background: #7e927e;
  color: #000;
font-size: 16px;
font-family: macondo;
}

#textSpace
{
border: solid #eb2a8b;
}

.display {
  background-color: none;
}

#stats {
  border: solid #2aeb71;
  background-color: ;
  justify-content: center;
  align-items: center;
  
}

.container {
  border: solid #2a8eeb;
  display: grid;
grid-template-columns: repeat(8, 1fr);
grid-template-rows: repeat(5, 1fr);
}

.board {
  border: solid #eb982a;
  /* width: ;
 height: 640px; */
  margin: auto;
  /* display: flex;
  flex-wrap: wrap; */
  perspective: 1000px;
  margin: auto; 
}


.card {
 border: solid #CEFFCD;
  width: 120px;
  height: 120px;
  margin: 5px;
  position: relative;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, .3);
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform .5s;
}

.card:active {

  transform: scale(0.97);

  transition: transform .2s;


}

.card.flip {
  transform: rotateY(180deg);
}

.match {
  box-shadow: 0px 0px 15px 0px #CEFFCD
}

.MissMatch {
  box-shadow: 0px 0px 15px 0px #2d2e05
}

.front,
.back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
}

.back {
  transform: rotateY(180deg);
  transition: opacity 1s;
}

.back.found {
  opacity: 0;
}

@media (max-width: 850px) {
  .card {
    width: 80px;
    height: 80px;
  }

  .container {
    display: flex;
    flex-wrap: wrap;
  }
}



/*.front {display: none;}*/

/*.back {
    display: none;
}*/