body {
    height: 100vh;
    display: flex;
    background: #596c32;
}

.board {
    width: 640px;
    height: 640px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.card {
    width: calc(12.5% - 10px);
    height: auto;
    padding-top: calc(12.5% - 10px);
    margin: 5px;
    position: relative;
    box-shadow: 1px 1px 1px rgba(0,0,0,.3);
  }
  
  .front,
  .back {
    width: 100%;
    height: 100%;
    
    border-radius: 5px;
  }


/*.front {display: none;}*/

.back {
    display: none;
}